* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown button {
    cursor: pointer;
    padding: 10px 15px;
    color: white;
    background-color: blue;
    border: 1px solid blue;
    outline: none;
}

.dropdown a {
    text-decoration: none;
    display: block;
}

.dropdown .content {
    background: gray;
    box-shadow: 2px 2px 2px black;
    display: none;
    position: absolute;
    width: calc(100vh - 10rem);
    right: 0;
}

.dropdown a:hover {
    background-color: aqua;
}

.dropdown:hover .content{
    display: block;
}
